.jumbotron
	.container
		%h1 Lafayette Memories
		.row
			.col-md-8
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl neque, aliquet id ullamcorper et, sodales id eros. Duis vehicula neque nec neque mattis tempor. Nunc luctus euismod mauris, a ultricies augue vulputate vel. Nunc ut nisi lobortis, cursus sapien nec, volutpat lacus. Nunc ut ultricies tellus, vitae pretium tortor. Sed sed massa mauris. Mauris lacinia sapien sapien, ut feugiat turpis consectetur sit amet. Phasellus purus magna, semper dignissim nulla et, adipiscing elementum massa. Curabitur justo velit, vehicula et fermentum nec, facilisis in purus. 
			.col-md-4.hidden-phone
				%img.pull-right{:src => "http://placecage.com/300/201"}
		%p
			%a.btn.btn-primary.pull-right
				View Photos
				&raquo;
.row
	.col-md-6
		%h2 Your Memories
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl neque, aliquet id ullamcorper et, sodales id eros. Duis vehicula neque nec neque mattis tempor. Nunc luctus euismod mauris, a ultricies augue vulputate vel. Nunc ut nisi lobortis, cursus sapien nec, volutpat lacus. Nunc ut ultricies tellus, vitae pretium tortor. Sed sed massa mauris. Mauris lacinia sapien sapien, ut feugiat turpis consectetur sit amet. Phasellus purus magna, semper dignissim nulla et, adipiscing elementum massa. Curabitur justo velit, vehicula et fermentum nec, facilisis in purus. Aenean eu lacus dolor. Nulla quis tortor at lacus scelerisque consectetur. Etiam euismod augue nisi, sit amet dapibus risus aliquam sit amet. In hendrerit in lorem sit amet vestibulum.
	.col-md-6
		%h2 Our History
		%p
			Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?


